@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
margin: 0; 
padding:0; 
box-sizing: border-box; 
font-family: 'Poppins', sans-serif; 
scroll-behavior: smooth;
}
body
{
font-family: "Open Sans";
color: white;
display: flex;
justify-content: center;
min-height: 100vh;
background: #555555;
}
.container
{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	padding: 40px 0;
}
.container .card
{
	position: relative;
	width: 320px;
	height: 440px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.05),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
	margin:31px;
	top: 1vh;
}
.container .card .box
{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center; 
	transition: 0.5s;
}
.container .card:hover .box
{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2);
	background: linear-gradient(45deg, #b95ce4, #4f29cd);
}
.container .card .box .content
{
	padding: 2px;
	text-align: center;
	color: black;
}
.container .card .box .content h2
{
	position: absolute;
	top: -10px;
	right: 30px;
	font-size: 8em;
	color: rgba(0,0,0,0.02);
	transition: 0.5s;
	pointer-events: none;
}
.container .card:hover .box .content h2
{
	color: rgba(0,0,0,0.05);
}
.container .card .box .content h3
{
	font-size: 1.8em;
	color: #777;
	z-index: 1;
	transition: 0.5s;
}
.container .card .box .content p
{
	font-size: 1em;
	font-weight: 300;
	color: #777;
	z-index: 1;
	transition: 0.5s;
}
.container .card:hover .box .content h3,
.container .card:hover .box .content p
{
	color: #fff;
}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 0 100px;
	display: flex;
	align-items:center;
	background: #555555; 
}
section::before
{
	content: '';
	position: absolute;
	top: 50%;
	right: 100px;
	transform: translateY(-50%);
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: #ed325f;
	transition: 1s;
}
section.active::before
{
	background: #21283a;
	box-shadow: 0 0 0 1200px #1ede6d;
}
header
{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 100px; 
}
header .logo
{
	font-size: 1.5em;
	color: white;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: 600;
	transition: 0.5s; 
	transform-origin: right;
}
 header .toggle
{
		position: relative;
		width: 30px;
		height: 30px;
		background: url(http://www.ecolifepro.com/images/menu-icon.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer; 
}
header .toggle.active
{
		background: url(https://cdn.pixabay.com/photo/2016/10/10/01/49/x-1727490_960_720.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;  
}

.content .contentbx a:last-child
{
	background: #1ede6d;
	color: black;
}
.content .contentbx a:hover
{
	letter-spacing: 4px;
	background: #1ede6d;
	color: black;
}
.content .contentbx a:hover:last-child
{
	background: #ed325f;
}

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 100px;
	transition: 0.5s;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
}
.banner.active .menu
{
	visibility: visible;
	opacity: 1;
}
.menu li
{
	list-style: none;
}
.menu li a
{
	color: #08381b;
	text-decoration: none;
	font-size: 1.5em;
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
	transition: 0.2s ease-in-out;
}
.menu li a:hover
{
	letter-spacing: 1px;
	background: white;
	color: #161a23;
}
.banner.active .container,
.banner.active .card,
.banner.active .box,
.banner.active .content,
.banner.active .logo,
.banner.active h1
{
	transform: scale(0);
	transform-origin: left;
}
@media only screen and (max-width: 991px)
{
.elements
	{
		visibility: hidden;
		opacity: 0;
	}
	header
	{
		padding: 20px 40px;
	}
	section
	{
		padding: 0px;
	}
	section::before
	{
		opacity: 0;
	}
	.container .card
	{
		margin-top: 70px;
	}
	.banner.active .container
	{
		opacity: 0 !important;
	}
	.menu
	{
		align-items: center;
		padding-left: 0;
		transition: 0.5s;
	}
	.menu li a
	{
		color: white;
	}
.banner.active .logo
{
	transition: 0s;
}
}

